a {
    text-decoration: none; 
    color: hsl(172.1,60.4%,32.8%); 
}

/* li {
    padding: 10px;
} */

.info {  
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: hsla(94, 33%, 4%, 0.6);
    z-index: 10;
    /* font-size: 1.2rem; */
    margin: 0; 
    /* transition-duration: 450ms;
    transition-property: opacity; */
}

.modal-content {
    overflow: scroll; 
    background-color: hsl(352.1,60.4%,19.8%);
    position: relative;
    height: auto; 
    width: 55%;
    margin: 9% auto;
    padding: 28px;
    border-radius: 10px;
}

.modal-button {
    font-size: 1rem;
    font-weight: bold; 
    cursor: pointer;
    right: 1%;
    float: right;
    border: none;
    background-color: hsl(352.1,60.4%,19.8%);
}

/* .fade-in {
    animation: fadeIn .7s;
}

.fade-out {
    animation: fadeOut 1s; 
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1; 
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0; 
    }
} */

@media (min-width: 320px) and (max-width: 500px)  and (orientation: portrait) {
    .modal-content {
        margin: 100%;
        
    }
}