body,
html,
#root {
  height: 100%;
}

body { 
  margin: 0; 
}

html {
  font-size: 18px;
  font-family: Robot Slab, sans-serif;
}

.App {
  background-image: url('./white-ceramic-cup.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom; 
  text-align: center;
  height:  100%;
  width: 100%;
}

h1 {
  font-family: Roboto Slab, serif;
}

h2 {
  font-family: Rubik, sans-serif;
}

.App-header {
  margin: auto;
}

