body,
html,
#root {
  height: 100%;
}

body { 
  margin: 0; 
}

html {
  font-size: 18px;
  font-family: Rubik, sans-serif;
  color: hsl(216, 13%, 57%);
}

h1 {
  margin-top: 5%;
  font-family: Roboto Slab, serif;
}

.container {
  display: flex;
  height: 100%;
}

.App {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row-reverse;
  background-image: url('./sr-background-3.jpg');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  height:  100%;
  width: 100%;
}

.logo {
  background-image: url('./logo.png');
  background-size: cover;
  background-position: center;
  height: 71%;
  width: 46%;
  border-radius: 50%;
  margin-left: .5rem;
}

.footer {
  position: absolute;
  bottom: 0px;
  background-color: hsla(94, 33%, 4%, 0.8);
  font-size: .8rem;
  text-align: left; 
  width: 100%;
}

.App, 
.logo {
  box-shadow: 0px 5px 20px 2px hsl(60, 12%, 12%);
}

@media (min-width: 320px) and (max-width: 500px)  and (orientation: portrait) {
  html {
    font-size: 12px; 
  }

  .App {
    flex-direction: column-reverse;
    height: 100%;
    background-image: url('./sr-background.jpg');
    background-size: cover;
    background-position-x: center;
  }

  .logo {
    width: 85%;
    height: 36%;
    margin: 31% 0 3% 0;
  }
}

@media (min-width: 510px) and (max-width: 1024px) {
  html {
    font-size: 14px;
  }
  .App {
    background-image: url('./sr-background.jpg');
    background-size: cover;
    flex-direction: column-reverse;
  }

  .logo {
    margin-top: 13%;
    width: 83%;
    height: 48%;
  }
}