p {
    font-family: 'Noto Serif', sans-serif; 
    
}

ul {
    list-style-type: none;
    text-align: start; 
}

.carousel {
    box-shadow: 0px 5px 20px 2px hsl(60, 12%, 12%);
    margin-right: .7rem;
    height: 52%;
    width: 42%;
    text-align: center;
    overflow: hidden;
}

.solo-caption {
    position: relative;
    width: 50%;
    bottom: 16rem;
    left: 49%;
    font-size: 2rem;
}

.trio-caption {
    position: relative;
    width: 50%;
    bottom: 17.3rem;
    left: 47%;
    font-size: 1.3rem;
}

.crates-caption {
    position: relative;
    bottom: 15.8rem;
    left: 49%;
    font-size: 1.5rem;
    width: 50%;
}

.carousel-content {
    background-color: hsla(94, 33%, 4%, .8);
    height: auto; 
}

@media (min-width: 300px) and (max-width: 500px)  and (orientation: portrait) {
    .carousel {
        height: 14.2rem;
        width: 85%;
        margin: 9% 0 14% 0;
    }

    /* .crates-caption {
        bottom: 2%;
    } */

    .solo-caption {
        bottom: 16rem;
        font-size: 1.8rem;
    }

    .trio-caption {
        bottom: 16rem;
        font-size: 1.13rem;
    }
    
}

@media (min-width: 510px) and (max-width: 1030px) {
    .carousel {
        width: 69%;
        margin-bottom: 9%;
        height: 32%;
    }

    .solo-caption {
        font-size: 3rem;
        bottom: 24rem;
    }

    .trio-caption {
        font-size: 2rem;
        bottom: 26rem;
    }

    .crates-caption {
        font-size: 2rem;
        bottom: 21rem;
    }
}
