p {
    font-family: 'Noto Serif', sans-serif; 
    
}

ul {
    list-style-type: none;
    text-align: start; 
}

.carousel {
    box-shadow: 0px 5px 20px 2px hsl(60, 12%, 12%);
    margin-right: .7rem;
    height: 52%;
    width: 42%;
    text-align: center;
    overflow: hidden;
}

.solo-caption {
    position: absolute; 
    bottom: 30%;
    left: 47%; 
    font-size: 2rem;
}

.trio-caption {
    position: absolute; 
    bottom: 13%;
    left: 47%; 
    font-size: 1.3rem;
}

.crates-caption {
    position: absolute; 
    bottom: 31%;
    left: 47%; 
    font-size: 1.3rem;
}

.carousel-content {
    background-color: hsl(94, 33%, 4%);
    opacity: .8; 
}